{% extends "portal/base.html" %}


{% block page_content %}

<div class="d-flex justify-content-center">
    <h1> Home Page</h1>
</div>


<!-- User Last Login -->
<div>
<h2>Last login: </h2>
{{ last_login }}
</div>

<!-- User Last Inputed Disease -->
<div>
<h2>Your latest disease:</h2>
{{ latest_disease }}
</div>


<!-- User Last Inputed Medicine -->
<div>
<h2>Your latest medicine:</h2>
{{ latest_medicine }}
</div>

<div>
<h2>Your latest risk/probability of stroke</h2>
    {{ latest_stroke_prob }}
</div>
<div>
<h2>Your latest classification of stroke</h2>
    {{ latest_stroke_lbl }}
</div>


{% endblock %}