<!-- Write HTML code here -->
{% extends "portal/base.html" %}

{% block page_content %}

<!-- Show Diseases table -->

<div class="container">
  <h2 class="text-center"><u>Diseases Table</u></h2><br>            
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Disease Name</th>
        <th>Description</th>
        <th>Symptoms</th>
        <th>Intensity</th>
        <th>Start Date</th>
      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if d %}  
    {% for i in d %}
      <tr>
        <td>{{i.user_id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.description}}</td>
        <td>{{i.symptoms}}</td>
        <td>{{i.intensity}}</td>
        <td>{{i.start_date}}</td>
        <td> 
          <form action="{% url 'delete_disease' id=i.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-default btn-danger" type="submit"><i class="fa fa-trash">Delete</i></button>
          </form>
        </td> 
      </tr>

    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>


<!-- Show medicine table -->

<div class="container">
  <h2 class="text-center"><u>Medicine Table</u></h2><br>            
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Medicine Name</th>
        <th>Description</th>
        <th>Dose</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if m %}  
    {% for i in m %}
      <tr>
        <td>{{i.user_id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.description}}</td>
        <td>{{i.dose}}</td>
        <td>{{i.unit}}</td>
        <td> 
          <form action="{% url 'delete_medicine' id=i.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-default btn-danger" type="submit"><i class="fa fa-trash">Delete</i></button>
          </form>
        </td> 
      </tr>

    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>


  

{% endblock %}